<nav class="bg-blue-600 text-white p-4 shadow-md">
  <div class="container mx-auto flex items-center justify-between">
    

    <!-- Menú de navegación -->
    <ul class="flex items-center space-x-6">
      <li>
        <div class="language-switcher">
          <%= link_to "🇬🇧 English", url_for(locale: :en), class: "text-white-600" %> |
          <%= link_to "🇨🇴 Español", url_for(locale: :es), class: "text-white-600" %> |
        </div>
      </li>
      

    </ul>
  </div>
</nav>